@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-montserrat text-black;
  background-color: #f9f9f9;
}

html,
body,
#__next {
  @apply h-full;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

@media (max-width: 1200px) {
  .--prevent-scroll {
    @apply overflow-hidden;
  }
}

*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-track:hover {
  background-color: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-track:active {
  background-color: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: #0075ff;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #2f8fff;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #2f8fff;
}
