.button {
  @apply rounded-sm flex items-center justify-center transition-all;
}

.primary {
  @apply bg-primary text-white;

  &:hover {
    @apply bg-primary-active;
  }

  &:active {
    @apply bg-primary;
  }
}

.secondary {
  @apply border border-black text-black;

  &:hover {
    @apply text-white bg-secondary-hover;
  }

  &:active {
    @apply text-white bg-secondary-active;
  }
}
