.radio {
  @apply cursor-pointer flex items-center gap-4 relative;

  > input {
    @apply absolute opacity-0;

    &:checked {
      + h6 {
        @apply text-black;
      }
    }
  }

  > &::before {
    @apply w-8 h-8 rounded-full border border-gray block;
    content: "";
  }

  > &::after {
    @apply w-4 h-4 rounded-full bg-gray absolute left-2 hidden;
    content: "";
  }

  &:has(:checked)::before {
    @apply border-gray border-2;
  }

  &:has(:focus)::before {
    @apply border-gray border-2;
  }

  &:has(:checked)::after {
    @apply block;
  }

  &:has(:focus)::after {
    @apply block;
  }

  &.dark {
    > input {
      @apply absolute opacity-0;

      h6 {
        @apply text-gray;
      }

      &:checked {
        + h6 {
          @apply text-white;
        }
      }
    }

    > &::before {
      @apply w-8 h-8 rounded-full border border-gray block;
      content: "";
    }

    > &::after {
      @apply w-4 h-4 rounded-full bg-white absolute left-2 hidden;
      content: "";
    }

    &:has(:checked)::before {
      @apply border-white border-2;
    }

    &:has(:focus)::before {
      @apply border-white border-2;
    }

    &:has(:checked)::after {
      @apply block;
    }

    &:has(:focus)::after {
      @apply block;
    }
  }
}
