@import "/app/variables";

.section {
  .categories,
  .swiper {
    @apply grid gap-5 mt-10;
    grid-template-columns: repeat(2, 1fr);

    article {
      @apply bg-white flex flex-col justify-between gap-3 rounded-md p-4;

      h3 {
        @apply text-3xl font-black;

        > span {
          @apply text-primary;
        }
      }

      > .img {
        @apply self-center justify-center h-40;

        > img {
          @apply h-full w-full;
        }
      }

      ul {
        @apply flex gap-6;

        > li {
          @apply flex items-center gap-2;

          .heading {
            @apply font-bold text-2xl;
          }
        }
      }

      button {
        @apply py-2 gap-2;
      }
    }
  }

  .categories {
    article {
      @apply shadow-md;
      ul {
        @apply flex-wrap justify-center;

        > li {
          .heading {
            @apply font-bold text-2xl;
          }
        }
      }
    }
  }

  .swiper {
    .slide {
      @apply w-72;
    }
    article {
      > .img {
        @apply h-24;
      }

      ul {
        @apply flex-col;

        img {
          @apply shrink-0;
        }

        > li {
          @apply text-base;

          .heading {
            @apply text-lg;
          }
        }
      }
    }
  }

  .categories {
    @media (max-width: $adaptive-max-breakpoint) {
      @apply hidden;
    }
  }

  .swiper {
    @media (min-width: $adaptive-min-breakpoint) {
      @apply hidden;
    }
  }
}
